:root {
    --brand-900: #bf7506;
    --brand-500: #dd9c3c;
    --brand-100: #f4debe;
    --neutral-900: #211b12;
    --neutral-500: #83807c;
    --neutral-100: #e0dedc;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    margin-bottom: 70px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-items: center;
}

.nav-link {
    color: var(--brand-900);
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}

.header {
    margin-bottom: 70px;
}

.header .container {
    gap: 24px;
}

.header-strong {
    display: block;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
    color: var(--neutral-900);
}

.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: var(--neutral-900);
    margin-bottom: 24px;
}

.header-primary {
    color: var(--brand-900);
}

.header-links {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 55px;
}

.social-list {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-link {
    display: inline-block;
    padding: 8px;
}

.cv-download {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 7px 8px;
    border-bottom: 2px solid var(--brand-900);
}

.cv-download span {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-900);
}