:root {
    --brand-900: #bf7506;
    --brand-500: #dd9c3c;
    --brand-100: #f4debe;
    --neutral-900: #211b12;
    --neutral-500: #83807c;
    --neutral-100: #e0dedc;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 910px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    margin-bottom: 70px;
    margin-top: 40px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-items: center;
}

.nav-link {
    color: var(--brand-900);
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}

.header {
    margin-bottom: 70px;
}

.header .container {
    gap: 24px;
}

.header-photo {
    max-width: 212px;
    width: 25%;
    flex-shrink: 0;
}

.header-photo img {
    width: 100%;
}

.header-text {
    max-width: 510px;
    display: flex;
    flex-direction: column;
}

.header-strong {
    display: block;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
    color: var(--neutral-900);
}

.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: var(--neutral-900);
    margin-bottom: 24px;
}

.header-primary {
    color: var(--brand-900);
}

.header-links {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 55px;
}

.social-list {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-link {
    display: inline-block;
    padding: 8px;
}

.cv-download {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 7px 8px;
    border-bottom: 2px solid var(--brand-900);
}

.cv-download span {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-900);
}

.portfolio .container {
    flex-direction: column;
    align-items: flex-start;
}

.section-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: var(--brand-900);
    margin-bottom: 32px;
}

.cards {
    display: flex;
    justify-content: space-between;
    /* gap: 8.3%; */
    width: 100%;
    margin-bottom: calc(120px - 16px);
}

.card {
    max-width: 400px;
}

.card img {
    width: 100%;
}

.card-text-wrapper {
    padding: 16px;
    width: 100%;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: var(--brand-900);
    margin-bottom: 8px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    row-gap: 8px;
    margin-bottom: 16px;
}

.tag-item {
    display: inline-block;
    /* display: block; */
}

.tag {
    border: 1px solid var(--brand-500);
    border-radius: 4px;
    padding: 5px 8px 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--neutral-900);
    background: #fff;
    padding: 4px 8px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-900);
    margin-bottom: 17px;
}

.card-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.card-button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 7px 8px 5px;
    border-bottom: 2px solid var(--brand-900);
}

.card-button-icon {}

.card-button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-900);
}

.developer {
    margin-bottom: 40px;
}

.developer .container {
    gap: calc((55 / 870) * 100%);
    align-items: flex-start;
}

.developer-photo {
    position: relative;
    width: calc((360 / 870) * 100%);
    flex-shrink: 0;
    aspect-ratio: 360 / 440;
    overflow: hidden;
    border-radius: 20px;
}

.developer-photo img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100%; */
    height: 100%;
    width: 145%;
    /* object-fit: cover; */
}

.developer-about {
    padding-top: 27px;
}

.developer-hello {
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: var(--neutral-900);
    margin-bottom: 4px;
}

.developer-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: var(--brand-900);
    margin-bottom: 16px;
}

.developer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-900);
}

.developer-motto {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: var(--brand-500);
    margin-top: 16px;
    margin-bottom: 16px;
}

.developer-sign {
    margin-top: 32px;
    max-width: 200px;
}

.skills {
    margin-bottom: 120px;
}

.skills .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.skills-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: var(--neutral-900);
}

.feedback {
    position: relative;
    margin-bottom: 160px;
}

.feedback-hand {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
}

.feedback-hand img {
    width: 100%;
}

.feedback .container {
    flex-direction: column;
}

.feedback-title {
    margin-bottom: 16px;
}

.input-group {
    position: relative;
    padding-top: 9px;
    margin-bottom: 24px;
}

/* .input-group+.input-group {
    margin-top: 24px;
} */

.input-label {
    position: absolute;
    top: 0;
    left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-500);
    background: #fff;
    padding: 0px 8px;
}

.input {
    border: 3px solid var(--neutral-100);
    border-radius: 4px;
    width: 435px;
    height: 56px;
}

.textarea {
    min-height: 140px;
}

.submit-button {
    background: #FFF;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid var(--brand-900);
    margin-left: auto;
}

@media (max-width: 1024px) {
    .container {
        max-width: 760px;
    }

    .card {
        max-width: calc((350 / 760) * 100%);
    }
}

@media (max-width: 768px) {
    .container {
        /* max-width: 576px; */
    }

    .header .container {
        gap: 12px;
    }

    .header-strong {
        font-size: 36px;
    }

    .header-heading {
        font-size: 18px;
    }

    .header-links {
        gap: initial;
    }

    .social-list {
        gap: 0;
    }

    .card-text-wrapper {
        padding: 0;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 28px !important;
    }

    .header-strong {
        font-size: 24px;
    }

    .header-heading {
        font-size: 15px;
    }

    .header-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        max-width: none;
        gap: 40px;
    }

    .developer .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .developer-photo {
        align-self: center;
        width: 100%;
        aspect-ratio: 440 / 360;
    }

    .developer-photo img {
        width: 100%;
    }

    .feedback-hand {
        display: none;
    }
}

@media (max-width: 480px) {
    .navbar {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .navbar .container {
        align-items: flex-start;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .header .container {
        flex-direction: column;
        gap: 30px;
    }

    .header-photo {
        width: 35%;
    }

    .cards,
    .skills {
        margin-bottom: 50px;
    }

    .input {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }
}