body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-items: center;
}

.nav-link {
    color: #bf7506;
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}